html, body {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.widget {
background: none transparent;
border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	min-height: 0px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widgetHeader, .widgetNav, .askAreaWrap, .widgetFooter, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, div.contribInfo, .contribText > span, div.paneContent > .caption > span, .questionCB_dialog .dialogContent .caption, .rankBar, #commentingArea, .sharingBar {
	display: none !important;
}


div.qList {
	text-align: center;
}

div.qList div.row {
	position: relative;
    width: 200px;
	height: 300px;
	margin: 0 auto 40px;
	padding: 0;
	text-align: center;
	float: none;
	background: none transparent;
	overflow: hidden;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
}

div.qList div.row * {
	display: block;
	margin: 0 auto;
	text-align: center;
	float: left;
	clear: both;
	overflow: hidden;
	width: 100%;
}

div.row > table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: hide;
	display: block;
	border: 0px none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
}
div.row td {
	display: block;
	float: none;
	clear: both;
	margin:0;
	padding:0;
}
table.icons * {
	overflow: visible !important;
}
table.icons {
	/*bottom: 3px;*/
	top: 0;
	display: block;
	float: none;
	margin: 0;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
table.icons td {
	/*padding: 2px 10px;*/
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}
td.voteUpLink.link {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	height: 100%;
}
.icons div.icon {
    width: 100%;
	height: 100%;
    background: url("../../img/brav/1183/vote-bg.png") no-repeat scroll center bottom transparent;
    background: url("../../img/brav/1183/vote-bg-selected.png") no-repeat scroll center bottom transparent;
    background: url("../../img/brav/1183/vote-bg-hover.png") no-repeat scroll center bottom transparent;
    background: url("../../img/brav/1183/vote-bg-indactive.png") no-repeat scroll center bottom transparent;
}

div.icon.voteUp {
    background: url("../../img/brav/1183/vote-bg.png") no-repeat scroll center bottom transparent;
}
div.qList div.row:hover div.icon.voteUp {
    background: url("../../img/brav/1183/vote-bg-hover.png") no-repeat scroll center bottom transparent;
}
div.icon.votedUp {
    background: url("../../img/brav/1183/vote-bg-selected.png") no-repeat scroll center bottom transparent;
}

.resultRow table.icons.hidden {
	display: block !important;
}

.polling div.row .contribText {
    height: auto;
	padding-bottom: 32%;
	font-weight: bold;
	margin-top: 12px;
}

/*.contribText img {
    height: auto;
    max-width: 200px;
    width: 100%;
	font-size: 18px;
	line-height: 1.2em;
}
*/

.thumbWrapper.small {
	min-height: 120px;
}

.rankScore {
    bottom: 10px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
	text-align: center !important;
	background: url('../../img/brav/1183/results-bg.png') no-repeat scroll center bottom transparent;
	background-size: 100% auto;
	text-indent: 55%;
	font-size: 40px;
	line-height: 40px;
	color: #2b5798;
}

.jqmContent.noFill > * {
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.jqmContent {
	background: transparent;
	text-align: center;
}
div.sharingBar .shareText {
	font-weight: 100!important;
}
.sharingBar {
	margin-bottom: 0;
	text-align: left!important;
}

div.dialogContent > .caption, div.paneContent > .caption {
	background-color: transparent;
	margin-bottom: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 2em;
	text-align: center;
	margin: 0 0 40px;
}

.jqmOverlay {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #fff;
}

div.jqmWindow.dialog {
    background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #ab0e6f;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box;
}
div.dialogContent {
	position: relative;
}

div.dialogContent > .caption {
	background: url('../../img/brav/1183/vote-overlay-300x150_header.jpg') center center no-repeat transparent;
	text-indent: -9999px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 50px;
	margin-bottom: 0px;
}
div.icon.closeButton {
	display: none;
}

.jqmContent {
    background-color: #fff;
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {
	text-indent: -9999px;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	background: url('../../img/brav/1183/vote-overlay-300x150_body.jpg') top center no-repeat transparent;	
}
div.buttons .button.jqmClose {
	background: url('../../img/brav/1183/vote-overlay_button_63x31.png') top center no-repeat;
	width: 63px;
	height: 31px;	
	text-indent: -9999px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	display: block;
	margin: 0 auto;
}
div.buttons .button.jqmClose:hover {
	background-position: bottom center;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div.buttons {
	text-indent: 0;
	width: auto;
	height: auto;
	background: none transparent;		
}

/* Responsive 
@media only screen
and (min-width: 320px) {
	div.qList div.row {
}


}
@media only screen
and (min-width:321px) and (max-width:479px) {
		div.qList div.row {
	}

}
@media only screen
and (max-width: 579px) {
div.qList div.row .contribText img {
}
}
@media only screen
and (min-width: 580px) {
}

}*/
@media only screen
and (min-width: 580px) {
	div.qList div.row {
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 0 20px 40px;
	}
}

@media only screen
and (min-width: 700px) {
	div.qList div.row {
		margin: 0 40px 40px;
	}
	div.dialogContent > .caption {
	background: url('../../img/brav/1183/vote-overlay-720x150_header.jpg') center center no-repeat transparent;
	}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {
	background: url('../../img/brav/1183/vote-overlay-720x150_body.jpg') top center no-repeat transparent;	
}
}

@media only screen
and (min-width: 730px) {
	div.qList div.row {
		margin: 0 40px 40px;
	}
}

/* iPhone/Retina 
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

}*/
/* iPhone/Retina - (portrait) ----------
@media
only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:portrait),
only screen and (min-device-pixel-ratio : 2)  and (orientation:portrait){


} */

/* iPhone/Retina - (landscape) ----------
@media screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:landscape), screen and (min-device-pixel-ratio : 2) and (orientation:landscape){
} */