@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@font-face {
	font-family: 'Open Sans Condensed Bold';
	src: url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot');
	src: local('☺'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.woff') format('woff'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.ttf') format('truetype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.svg#OpenSans-CondBold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed Light';
	src: url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.eot');
	src: local('☺'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.woff') format('woff'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.ttf') format('truetype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.svg#OpenSans-CondBold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    background: none repeat scroll 0 0 transparent !important;
}
.widget {
	background: url('/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/full_bg.jpg') center center no-repeat #919191;
	color: #222;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	min-height: 0px !important;
	font-family: "Open Sans Condensed Light", Helvetica, Arial, sans-serif;
	max-width: 1000px;
	border: 10px solid #c4c4c4;
}


.widgetNav, .askAreaWrap, .widgetFooter, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, .resultRow td.voteUpLink, .rankBar, .commentLink, span.itemInfo, div.contribInfo, .contribText > span, div.paneContent > .caption > span, #commentingArea, .sharingBar, .button.smackBox {
	display: none !important;
}


.widget table {
    border-collapse: collapse;
	empty-cells: hide;
	margin: 0;
	padding: 0;
}

.widget table tr, .widget table td {
    margin: 0;
    padding: 0;
}

.widgetHeader {
    background: url('/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/header_transparent_bg.png') top left repeat transparent;
}

div.widgetHeaderInfo {
    background: none transparent;
    border-radius: 0;
    height: auto;
	padding: 10px 55px 10px 10px;
	min-height: 20px;
}

div.headerEventTitle {
   /* text-shadow: 0 1px 4px #999;*/
    text-transform: uppercase;
	line-height: 1.1em;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
}

#shareEventTwitter, #shareEventFB, .resultsShare {
	opacity: 0.6;
	filter: alpha('opacity=60');
	zoom: 1;
	right: 10px;
	bottom: auto;
	border-radius: 1.375rem;
    display: block;
    height: 1.9375rem;
    margin-bottom: 0;
    overflow: hidden;
    text-indent: 9999rem;
    width: 1.9375rem;
	background: url("/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/social_icons_1x.png") no-repeat scroll 0 0 #c4c4c4;
	z-index: 999;
}

.resultsShare {
    display: inline-block;
	*display: block;
	zoom: 1;
    margin: 0 10px;
	text-indent: -9999px;
}

#shareEventTwitter:hover, #shareEventFB:hover, .resultsShare:hover {
	opacity: 1;
	filter: alpha('opacity=100');
	background-color: #3b579d;
}
#shareEventTwitter, .resultsShare.shareTwt {
    top: 6px;
	background-position: 0 -1.9375rem;
}

#shareEventFB, .resultsShare.shareFB {
    top: 42px;
	background-position: 0 -0.0625rem;
}


.questionWindow {
    background: url('/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/header_transparent_bg.png') top left repeat transparent;
	box-sizing: border-box;
    padding: 0 55px 10px 10px;
    width: 100%;
}

.questionWindow .question {
	margin: 0 0 10px;
	height: 60px;
	line-height: 1.3em;
	font-weight: normal;
	color: #fff;
}

.questionNumber {
	display: none
}

.questionWindow .questionTextWrapper {
	min-height: 42px;
	height: 42px;
	text-align: left;
}
.questionWindow .questionBackgroundFilter {
	background: none transparent;
}
.questionWindow .questionText, .yourVotesTitle, .resultList .title {
	display: block;
	min-height: 42px;
	height: auto;
	text-align: left !important;
	padding: 0;
	vertical-align: top;
}

.questionWindow .prevQuestion, .questionWindow .nextQuestion {
	margin-top: 80px;
	position: absolute;
	z-index: 100;
	display: none;
}
.prevNumber, .nextNumber {
	display: none
}
.prevQuestion {
	left: 10px
}
.nextQuestion {
	right: 10px
}

div.widgetWindow {
	text-align: center;
	min-height: 354px;
	padding: 0 10px;
}

div.widgetWindow div.row {
	position: relative;
	margin: 20px auto;
	padding: 0;
	background: none transparent;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
	border: 0 solid transparent;
	overflow: hidden;
	display: block;
	
}

div.widgetWindow div.row.resultRow table.icons.hidden, .resultRow div.contribStatus.hidden {
	display: block !important;
}

.resultRow div.contribStatus.hidden {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8888;
}


div.widgetWindow div.row * {
	display: block;
	margin: 0 auto;
	text-align: center;
	float: left;
	clear: both;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	padding: 0;
}

div.widgetWindow .interstitial iframe {
    float: none;
    height: 400px;
    margin: 42px auto 0;
    max-width: 420px;
    width: 100%;
}


.interstitial .buttons {
    margin: 0 0 50px;
    text-align: center;
}

div.row > table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: hide;
	display: block;
	border: 0px none;
	margin: 0;
	position: relative;
	height: 100%;
}
div.row td {
	display: block;
	float: none;
	clear: both;
	margin:0;
	padding:0;
}

div.row table.icons {
	display: block;
	float: none;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 20;
}
div.row table * {
	height: 100%;
}
div.row table.icons td.link {
	display: block;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('//cdn.vhmengine.com/static/images/spacer.gif')
}

td.link div.icon {
	background: none;
}

div.contribInfo {
	display: none
}
div.row .thumbnail.hidden, div.row .thumbnail {
	display: block!important;
	height: 100%;
	position: absolute;
	visibility: visible;
	width: 100%;
	z-index: -1
}
div.row .thumbnail.thumbWrapper {
	z-index: 0;
}
div.row:hover .thumbnail.thumbWrapper {
	z-index: -1;
}
div.row .thumbnail.hidden {
	background: none #373737;
}
div.row .thumbnail.small {
	width: auto;
}
div.row:hover .thumbnail.hidden, div.row:hover .thumbnail {
	background: none #E3AC00;
}

div.row .contribText {
	height: auto;
	color: #fff;
	-ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	display: block;
	font-size: 18px;
	font-weight: bold;
}
div.row .contribText p {
	text-align: left;
	padding: 12px 10px;
	font-weight: normal;
}

.contribText>span {
	display: none!important
}
.contribText p.image {
	padding: 0
}
.contribText img, div.row .thumbnail img {
	height: auto;
	max-width: 100%;
	width: 100%;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1
}
div.row:hover .contribText img, div.row:hover .thumbnail img {
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: .4
}

.questionWindow.results {
	overflow: visible !important;
	padding: 0 10px 10px;
	max-height: 1000px !important;
}
.resultList {
	text-align: center;
}
.resultList .title .yourScore {
	padding: 0;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
.resultList .resultRow {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: none repeat scroll 0 0 #373737;
    color: #fff;
    margin: 6px 24px;
    padding: 6px 10px;
	width: 50px;
}
.resultRow table {
	display: block;
	width: 100%;
}
.resultRow td {
    display: block !important;
    float: none !important;
	clear: both;
    margin: 0 auto;
	padding: 0;
    text-align: center;
    width: 100%;
}


.rankPercent {
	color: #c4c4c4;
	float: none;
	clear: both;
	margin: 0;
	width: 100%;
}

div.widgetWindow .yourVotes div.row {
	display: inline-block;
	*display: inline;
	zoom: 1;
	/*background: url('/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/header_transparent_bg.png') top left repeat transparent;*/
	background: #3f3f3f;
	color: #fff;
	height: auto;
}

div.widgetWindow .yourVotes {
	max-width: 2400px;
}
.yourVotesTitle {
    display: block;
}
.yourVotesTitle.resultList {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	min-height: 24px;
	padding: 10px;
	margin: 0;
	border-bottom: 0 none transparent;
	background: url("/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/header_transparent_bg.png") repeat scroll left top transparent;
}

.resultList .title {
		margin-bottom: 24px;
		color: #fff;
		vertical-align: baseline;
	}
.sharingBar {
		top: 42px;
	}
div.widgetWindow .yourVotes div.row > * {
    margin: 6px 0;
	font-size: 16px;
	line-height: 1.3em;
}


div.widgetWindow .yourVotes div.row .label-media {
    float: none;
    text-align: center;
    width: auto;
}

.yourVotes .label-media .thumbnailarea {
    display: inline;
    float: none;
    width: auto;
}

div.widgetWindow .yourVotes div.row .mediaThumbnail {
    display: inline;
    float: none;
    height: auto;
    margin: 0 auto;
    width: auto;
}

div.widgetWindow .yourVotes div.row div.text {
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
}

.yourVotes div.icon.incorrect, .yourVotes div.icon.correct {
    float: none;
    margin: 0 auto;
    width: 28px;
}

.yourVotes .yourPick.correct, .yourVotes .yourPick.incorrect {
    background: none repeat scroll 0 0 #373737;
    padding: 3px;
	margin: 6px 0;
	font-style: normal;
}



.jqmOverlay {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #fff;
}

div.jqmWindow.dialog {
    background: none repeat scroll 0 0 #FFFFFF;
	border: 10px solid #c8c8c8;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	min-height: 138px;
}

div.dialogContent {
	margin: 0;
}

div.dialogContent > .caption {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 50px;
	margin-bottom: 0px;
}
.voteCB_dialog div.dialogContent > .caption {
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	font-size: 32px;
	line-height: 1.6em;
}

div.icon.closeButton {
	position: absolute;
	top: -10px;
	right: -3px;
}

.button, div.buttons button, .buttonBar .button {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none #3b579d;
	border: 0 none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff;
	padding: 3px 9px;
	margin: 0;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	height: 28px;
}
#loginCancel.button {
	background: none #c4c4c4;	
	text-shadow: none;
	margin: 5px;
}
.button:hover, div.buttons button:hover, .buttonBar .button:hover {
	background: #E3AC00;
}
#loginCancel.button:hover {
	background: none #444;	
}
.button label, div.buttons button label, .buttonBar .button label {
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
}
#anonSubmit label, #loginCancel label {
	font-size: 18px;
}
#loginCancel.button label {
	color: #fff;
}
#loginCancel.button:hover label {
}


.jqmContent {
    background-color: #fff;
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {

}

div.dialogContent > div.caption span {
    font-size: 24px;
    line-height: 50px;
	font-family: "Open Sans Condensed Light", Helvetica, Arial, sans-serif;
}

div.buttons .button.jqmClose {
	background: #c4c4c4 none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	display: block;
	margin: 0 auto;
	text-shadow: none;
}
div.buttons .button.jqmClose:hover {
	background: #3b579d none;
}
div.buttons .button.jqmClose:hover {
	background-position: bottom center;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div.buttons {
	text-indent: 0;
	width: auto;
	height: auto;
	background: none transparent;		
}

/* SWEEPS */
div#loginAgents table td, div#anonFields table td {
	position: relative;
	display: block;
	padding: 0;
}
div#anonFields input, div#anonFields select {
    border: 1px solid #ccc;
    box-shadow: none;
    color: #999;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 6px 0;
    min-width: 94%;
    padding: 4px;
}


div#anonFields input#anonOpt {
    height: auto;
    margin: 0 10px 0 0;
    min-width: 1px;
}


button#anonSubmit {
    left: 0;
    position: absolute;
    top: 27px;
}

.terms {
    text-align: center;
}

@media only screen
and (min-width: 420px) {
	
	.questionWindow .question {
		font-size: 24px;
	}
	div.widgetWindow {
		min-height: 446px;
	}
	div.widgetWindow div.row {
	}

	div.row div.contribText {
		font-size: 32px;
	}
	div.widgetWindow .yourVotes div.row > * {
		font-size: 18px;
	}
	.resultList .title br {
		display: none;
	}
	.button, div.buttons button, .buttonBar .button {
		height: 36px;
	}
	.button label, div.buttons button label, .buttonBar .button label {
		font-size: 34px;
		line-height: 34px;
	}

}