@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@font-face {
	font-family: 'Open Sans Condensed Bold';
	src: url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot');
	src: local('☺'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.woff') format('woff'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.ttf') format('truetype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.svg#OpenSans-CondBold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed Light';
	src: url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.eot');
	src: local('☺'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.woff') format('woff'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.ttf') format('truetype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondLight-webfont.svg#OpenSans-CondBold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    background: none repeat scroll 0 0 transparent !important;
}
.widget {
	background: none transparent;
	color: #222;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	min-height: 0px !important;
	font-family: "Open Sans Condensed Light", Helvetica, Arial, sans-serif;
	max-width: 1000px;
	border: 10px solid #c4c4c4;
}


.widgetNav, .widgetFooter, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, .resultRow td.voteUpLink, .rankBar, .commentLink, span.itemInfo, div.contribInfo, .contribText > span, div.paneContent > .caption > span, #commentingArea, .sharingBar, .button.smackBox, .widgetWindow {
	display: none !important;
}

.widgetHeader {
    background: #373737;
}

div.widgetHeaderInfo {
    background: none transparent;
    border-radius: 0;
    height: auto;
	padding: 10px;
	min-height: 20px;
}

div.headerEventTitle {
   /* text-shadow: 0 1px 4px #999;*/
    text-transform: uppercase;
	line-height: 1.1em;
	font-size: 24px;
	border-bottom: 1px solid #fff;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	margin: 0 0 18px;
	text-align: center;
}

div#sweepstakesEntryFields > table {
    margin: 0 auto;
}

div#sweepstakesEntryFields table td, div#anonFields table td {
	position: relative;
	display: block;
	padding: 0;
}
div#sweepstakesFields input {
    border: 1px solid #ccc !important;
    box-shadow: none;
    color: #999;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 6px 0 !important;
    min-width: 94%;
    padding: 4px;
}


div#sweepstakesEntryFields input#anonOpt {
    height: auto;
    margin: 0 10px 0 0;
    min-width: 1px;
}

div#sweepstakesEntryFields #adhocFields {
    margin: 12px 0;
}

button#anonSubmit {
    left: 0;
    position: absolute;
    top: 27px;
}

.terms {
    text-align: center;
}

.jqmOverlay {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #373737;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

table.askArea {
	margin: 0 auto;
}

div.jqmWindow.dialog {
    background: none repeat scroll 0 0 #373737;
	border: 10px solid #373737;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	min-height: 138px;
	top: 40% !important;
}

div.dialogContent {
	margin: 0;
}

div.dialogContent > .caption {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 50px;
	margin-bottom: 0px;
}
.voteCB_dialog div.dialogContent > .caption {
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	font-size: 32px;
	line-height: 1.6em;
}

div.icon.closeButton {
	position: absolute;
	top: -10px;
	right: -3px;
}

.button, div.buttons button, .buttonBar .button, #submitButton {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none #3b579d;
	border: 0 none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff;
	padding: 3px 9px;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;

}
#loginCancel.button {
	background: none #c4c4c4;	
	text-shadow: none;
	margin: 5px;
}
.button:hover, div.buttons button:hover, .buttonBar .button:hover, #submitButton:hover {
	background: #E3AC00;
}
#loginCancel.button:hover {
	background: none #444;	
}
.button label, div.buttons button label, .buttonBar .button label, #submitButton > div {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#anonSubmit label, #loginCancel label {
	font-size: 18px;
}
#loginCancel.button label {
	color: #fff;
}
#loginCancel.button:hover label {
}


.jqmContent {
    background-color: #373737;
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	display: none;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {

}

div.dialogContent > div.caption span {
    font-size: 24px;
    line-height: 50px;
	font-family: "Open Sans Condensed Light", Helvetica, Arial, sans-serif;
}

div.buttons .button.jqmClose {
	background: #c4c4c4 none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	display: block;
	margin: 0 auto;
	text-shadow: none;
}
div.buttons .button.jqmClose:hover {
	background: #3b579d none;
}
div.buttons .button.jqmClose:hover {
	background-position: bottom center;
}
