@font-face {
	font-family: 'Open Sans Condensed Bold';
	src: url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot');
	src: local('☺'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.woff') format('woff'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.ttf') format('truetype'),
	url('//static.vhmengine.com/fonts/open-sans-fontfacekit/OpenSans-CondBold-webfont.svg#OpenSans-CondBold-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    background: none repeat scroll 0 0 transparent !important;
}
.widget {
	background: none transparent;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	min-height: 0px !important;
	font-family: "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;

}


.widget table {
    border-collapse: collapse;
}


.widgetNav, .askAreaWrap, .widgetFooter, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, .contribText > span, div.paneContent > .caption > span, .questionCB_dialog .dialogContent .caption, #commentingArea, .sharingBar {
	display: none !important;
}


div.widgetHeaderInfo {
    background: url("../../img/opry/1194/header_bg.jpg") center center no-repeat;
    border-radius: 0;
    height: auto;
	background-size: cover cover;
}

.headerEventTitle {
    text-shadow: 0 1px 4px #111;
    text-transform: uppercase;
	line-height: 1.1em;
}

#shareEventTwitter {
    bottom: auto;
    top: 10px;
}

#shareEventFB {
    bottom: auto;
    top: 30px;
}

div#widgetWindow {
	padding: 10px;
}

div.qList div.row {
	overflow: hidden;
}
.resultRow:first-child {
	margin-top: 0;
}

div.qList div.row:first-child {
	border-top: 0 solid transparent;
}

div.qList div.row {
	border-top: 0 none;
	background: none #fff;
	position: relative;
	padding: 0;
	margin: 0 0 3px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

table.icons {
	margin: 0;
}

table.icons td.link {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 999;
}
.icons div.icon.voteUp {
    display: block;
	width: 100%;
	height: 36px;
	background: url("http://www.redgoatcreative.com/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/icon_vote.png") repeat right top transparent;
	bottom: 0;
    left: 0;
    position: absolute;
}

table.icons td.link:hover div.icon.voteUp {
    background: url("http://www.redgoatcreative.com/vhrd/opry/1194/modules/vhm/widgets/img/opry/1194/icon_vote_hover.png") repeat right top transparent;
}

div.icon.votedUp {
    background: #5c7594;
	color: #526E91;
}

.thumbWrapper.small {
	min-height: 100px;
	min-width: 100px;
	height: auto;
	width: 100px;
}


.polling div.row .contribText {
    font-size: 24px;
    font-weight: bold;
    margin: 12px;
}


div.contribInfo {
    width: 110px;
	height: 110px;
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 130;
}

.contribInfo * {
    display: none !important;
}

.rankScore {
	float: none;
	top: 10px;
    right: 0;
    position: absolute;
	color: #5c7594;
	font-size: 22px;
}

.rankBar .rank {
	top: 8px;
	left: 12px;
	background: url('../../img/opry/1194/rankbar.png') top left repeat-x transparent;
	filter: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: 56% !important;
}
.jqmOverlay {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #fff;
}

div.jqmWindow.dialog {
    background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #ab0e6f;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box;
	min-height: 138px;
}
div.dialogContent > .caption {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 50px;
	margin-bottom: 0px;
}
.voteCB_dialog div.dialogContent > .caption {
}
div.icon.closeButton {
	display: none;
}

.jqmContent {
    background-color: #fff;
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {
}
div.buttons .button.jqmClose {
	background: url('../../img/opry/1194/vote-overlay_button_63x31.png') top center no-repeat;
	width: 63px;
	height: 31px;	
	text-indent: -9999px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	display: block;
	margin: 0 auto;
}
div.buttons .button.jqmClose:hover {
	background-position: bottom center;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div.buttons {
	text-indent: 0;
	width: auto;
	height: auto;
	background: none transparent;		
}

@media only screen
and (min-width: 768px) and (max-width: 991px) {
	.widgetHeader, .widgetNav, .askAreaWrap, .widgetFooter, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, div.contribInfo, .contribText > span, div.paneContent > .caption > span, .questionCB_dialog .dialogContent .caption, .rankBar {
		display: none !important;
	}
	
	
	div.qList {
		text-align: center;
	}
	
	div.qList div.row {
		display: inline-block;
		*display: inline;
		zoom: 1;
		position: relative;
		margin: 0 5px 40px;
		width: 180px;
		height: 300px;
		padding: 0;
		text-align: center;
		float: none;
		background: none transparent;
		border-radius: 0 0 0 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;  
		box-sizing: border-box; 
		border: 0 solid transparent;
	}
	
	div.qList div.row * {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: left;
		clear: both;
		overflow: hidden;
		width: 100%;
	}
	
	div.row > table {
		border-collapse: collapse;
		border-spacing: 0;
		empty-cells: hide;
		display: block;
		border: 0px none;
		margin: 0;
		padding: 0;
		position: relative;
		height: 100%;
	}
	div.row td {
		display: block;
		float: none;
		clear: both;
		margin:0;
		padding:0;
	}
	table.icons * {
		overflow: visible !important;
	}
	table.icons {
		/*bottom: 3px;*/
		top: 0;
		left: 0;
		display: block;
		float: none;
		margin: 0;
		position: absolute;
		z-index: 999;
		width: 100%;
		height: 100%;
	}
	table.icons td {
		/*padding: 2px 10px;*/
		display: block;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	td.voteUpLink.link {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.icons div.icon {
		width: 100%;
		height: 100%;
		background: url("../../img/opry/1194/vote-bg.png") no-repeat scroll center bottom transparent;
		background: url("../../img/opry/1194/vote-bg-selected.png") no-repeat scroll center bottom transparent;
		background: url("../../img/opry/1194/vote-bg-hover.png") no-repeat scroll center bottom transparent;
		background: url("../../img/opry/1194/vote-bg-indactive.png") no-repeat scroll center bottom transparent;
	}
	
	div.icon.voteUp {
		background: url("../../img/opry/1194/vote-bg.png") no-repeat scroll center bottom transparent;
	}
	div.qList div.row:hover div.icon.voteUp {
		background: url("../../img/opry/1194/vote-bg-hover.png") no-repeat scroll center bottom transparent;
	}
	div.icon.votedUp {
		background: url("../../img/opry/1194/vote-bg-selected.png") no-repeat scroll center bottom transparent;
	}
	
	.resultRow table.icons.hidden {
		display: block !important;
	}
	
	.polling div.row .contribText {
		height: auto;
		padding-bottom: 32%;
		font-weight: bold;
		margin-top: 12px;
	}
	
	/*.contribText img {
		height: auto;
		max-width: 200px;
		width: 100%;
		font-size: 18px;
		line-height: 1.2em;
	}
	*/
	
	.thumbWrapper.small {
		min-height: 120px;
		height: auto;
		width: auto;
	}
	
	.rankScore {
		bottom: 10px;
		right: 0;
		margin: 0 auto;
		position: absolute;
		width: 100%;
		text-align: center !important;
		background: url('../../img/opry/1194/results-bg.png') no-repeat scroll center bottom transparent;
		text-indent: 55%;
		font-size: 40px;
		line-height: 40px;
		color: #36bdb2;
		background-size: 100% auto;
	}
	div.jqmWindow.dialog {
		min-height: 184px;
	}

}