html, body { background: #fff !important; overflow-x: hidden;}

.widgetHeaderMisc, .questionWindow .prevQuestion, .questionWindow .nextQuestion, .widgetNav, .askAreaWrap, .widgetFooter .tagLine, .widgetSubfooter, .widgetBottom, .rowPager, table.linksArea, td.itemCounts, td.voteDownLink, div.contribInfo, .contribText > span, .commentLink, div.paneContent > .caption > span, .questionCB_dialog .dialogContent .caption, div.buttons .button.jqmClose, .rankBar, .yourVotes .label-description, .buttonBar, .yourVotes .label-comment-area, .yourVotes .icon, .resultList br {
	display: none !important;
}

.widget {
	border: 0 none transparent;
	background: url("../../img/pnfl/1202/logo.png") no-repeat scroll center bottom #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0 0 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #4c4c4c;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
.small_text {
	font-size: .5em !important
}
.tiny_text {
	font-size: .42em !important;
}
.large_text {
	font-size: 3em !important;
	line-height: 1em;
} 
.link {
	color: #2b92dc
}
.link:hover {
	color: #004373
}

.widgetHeader {
	background: url('../../img/pnfl/1202/chevrons.png') right center no-repeat #91cf06;
}

div.widgetHeaderInfo {
    background: none transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color: #fff;
    height: auto !important;
    padding: 10px;
    position: relative;
	min-height: 10px;
}

.headerEventTitle {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	color: #fff;
}

.headerEventDesc {
    
    box-sizing: border-box;
    color: #fff;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
    padding: 3px;
}

#shareEventFB,#shareEventTwitter {
	top: 30px;
	right: 50px;
	bottom: auto;
	z-index: 20;
	display: none;
}

#shareEventTwitter {
	right: 10px;
	bottom: auto;
}
.questionWindow .question {
		margin: 0 0 10px;
		height: 60px;
}
.questionWindow .questionTextWrapper {
	min-height: 42px;
	height: 42px;
	text-align: left;
}
.questionWindow .questionBackgroundFilter {
	background: none transparent;
}
.questionWindow .questionText, .yourVotesTitle, .resultList .title {
	display: block;
	min-height: 42px;
	height: auto;
	text-align: left !important;
	padding: 0;
	vertical-align: top;
}

.questionNumber {
	display: none
}
.questionTextWrapper .questionText p, .yourVotesTitle, .resultList .title, .resultList .title .yourScore {
	font-size: 18px;
	font-weight: bold;
	color: #4c4c4c;
	padding: 0 10px 10px 10px;
}



/*.questionTextWrapper .questionText p, .yourVoteTitle, .resultList .title {
	padding: 0 33% 0 10px
}
*/.questionWindow .prevQuestion, .questionWindow .nextQuestion {
	margin-top: 80px;
	position: absolute;
	z-index: 100;
}
.prevNumber, .nextNumber {
	display: none
}
div.icon.next, div.icon.prev {
	width: 50px;
	height: 50px;
	background: url('../../img/pnfl/1202/icon_prev-next.png') top left no-repeat transparent;
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: .4
}
div.icon.next:hover, div.icon.prev:hover {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1
}
div.icon.next {
	background-position: top right
}
.prevQuestion {
	left: 10px
}
.nextQuestion {
	right: 10px
}


#questionText > p {
    padding: 0;
}
.questionText p.question_item_text {
    background: none #00AEDB;
    bottom: 20px;
    color: #fff;
    display: block;
    padding: 10px 20px !important;
    position: absolute;
    text-align: center;
    width: 100%;
	box-sizing: border-box;
}

.widgetWindow {
	text-align: center;
	min-height: 312px;
}
.widgetWindow .row {
	display: inline-block;
	zoom: 1;
*display:inline;
	float: none;
	position: relative;
	margin: 0 15px 25px;
	padding: 0;
	text-align: center;
	background: none transparent;
	overflow: hidden;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	max-width: 220px;
	max-height: 220px;
	width: 110px;
	height: 110px;
	box-shadow: 0 0 3px rgba(55,55,55,.25);
	-moz-box-shadow: 0 0 3px rgba(55,55,55,.25);
	-webkit-box-shadow: 0 0 3px rgba(55,55,55,.25);
}
div.row:hover {
	background: none transparent
}
div.row * {
	display: block;
	margin: 0 auto;
	text-align: left;
	float: none;
	overflow: hidden;
	font-size: 15px;
}
.widgetWindow div.row>.noWrap {
	top: 0;
	display: block;
	float: none;
	margin: 0;
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%
}
div.row table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: hide;
	display: block;
	border: 0 none;
	margin: 0;
	padding: 0;
	position: relative
}
div.row td {
	display: block;
	float: left;
	clear: both;
	margin: 0;
	padding: 0
}
div.row table.icons {
	display: block;
	float: none;
	height: 100%;
	width: 100%;
	position: relative
}
div.row table.icons td.link {
	display: block;
	padding: 101% 0 0;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 0;
	position: relative;
	background: url('//cdn.vhmengine.com/static/images/spacer.gif')
}
span.commentLink.link {
	border: 0 solid red;
	bottom: 8px;
	margin-left: 9px;
	position: absolute;
	text-decoration: none
}
div.icon.voteUp, div.icon.voteUp:hover, div.icon.votedUp {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999
}
div.icon.checked {
	background: none repeat scroll 0 0 #5b5b5b;
	bottom: 0;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: .8;
	padding-top: 101%;
	position: absolute;
	right: 0;
	width: 100%
}
.commentLink.link {
	display: none
}
div.contribInfo {
	display: none;
	clear: left;
	font-size: larger;
	font-weight: bold;
	display: none
}
div.row .thumbnail.hidden, div.row .thumbnail {
	display: block!important;
	height: 100%;
	position: absolute;
	visibility: visible;
	width: 100%;
	z-index: -1
}
div.row .thumbnail.thumbWrapper {
	z-index: 0;
}
div.row:hover .thumbnail.thumbWrapper {
	z-index: -1;
}
div.row .thumbnail.hidden {
	background: none #00AEDB
}
div.row .thumbnail.small {
	width: auto;
}
div.row:hover .thumbnail.hidden, div.row:hover .thumbnail {
	background: url('../../img/pnfl/1202/check_bg.png') center center no-repeat #91cf06
}

div.row .contribText {
	height: auto;
	color: #fff;
	-ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	display: block;
	font-size: 18px;
	font-weight: bold;
}
div.row .contribText p {
	display: inline-block;
	text-align: left;
	position: absolute;
	z-index: -1;
	width: 90px;
	left: 10px;
	top: 20%;
}

.contribText>span {
	display: none!important
}
.contribText p.image {
	padding: 0
}
.contribText img, div.row .thumbnail img {
	height: auto;
	max-width: 100%;
	width: 100%;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1
}
div.row:hover .contribText img, div.row:hover .thumbnail img {
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: .4
}


table.askArea {
	width: 100%
}
.widgetFooter {
	background: none transparent;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align:center;
	margin: 0 auto;
}
.widgetFooter, .tagLine {
	color: #4c4c4c;
}
.footerStats {
	padding: 0;
}
div.widgetWindow .yourVotes div.row {
	background: none transparent;
	max-height: 100%;
	height: auto;
	width: 100%;
	box-shadow: none;
	max-width: 100%;
	margin: 10px 0;
}


div.widgetWindow .yourVotes {
	max-width: 2400px;
}

.yourVotes h2.label-name {
    font-size: 24px !important;
    line-height: 1.4em !important;
    margin: 0 0 20px !important;
    padding: 0 10px !important;
	text-align: left;
	font-weight: normal;
}

.yourVotesTitle {
    display: block;
}
.yourVotesTitle.resultList {
	font-size: 24x;
	font-weight: bold;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	min-height: 24px;
	padding: 10px;
	margin: 0;
	border-bottom: 0 none transparent;
	text-transform: uppercase;
}


div.widgetWindow .yourVotes div.row > * {
    margin: 6px 0;
	font-size: 16px;
	line-height: 1.3em;
}


div.widgetWindow .yourVotes div.row .label-media {
    float: none;
    text-align: center;
    width: auto;
}

div.widgetWindow .yourVotes div.row p {
	padding: 0 10px;
}

div.row .shareText {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.yourVotes .label-media {
	display: none;
}

.yourVotes .label-media .thumbnailarea {
    display: inline;
    float: none;
    width: auto;
}

div.widgetWindow .yourVotes div.row .mediaThumbnail {
    display: inline;
    float: none;
    height: auto;
    margin: 0 auto;
    width: auto;
}

div.widgetWindow .yourVotes div.row div.text {
    box-sizing: border-box;
    padding: 0 10px 0 50px;
    text-align: left;
}


.yourVotes div.icon.incorrect, .yourVotes div.icon.correct {
    height: 28px;
    left: 10px;
    margin: -14px auto 0;
    position: absolute;
    top: 50%;
    width: 28px;
}

.yourVotes .yourPick.correct, .yourVotes .yourPick.incorrect {
    background: none repeat scroll 0 0 #373737;
    padding: 3px;
	margin: 6px 0;
	font-style: normal;
	text-align: left;
}


.yourVotes .row a {
    text-decoration: none;
}


.yourVotes .row a.button_coupon button {
    text-align: center;
    width: 100%;
	margin-top: 36px;
}


.yourVotes .row a.button_coupon button span {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	font-weight: bold;
}


.jqmOverlay {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #fff;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

div.jqmWindow.dialog {
    background: url("../../img/pnfl/1202/header_entry.jpg") no-repeat scroll center top transparent;
	border: 0 none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	min-height: 138px;
	padding-top: 130px;
}


div.dialogContent {
    border: none 0;
    margin: 0 auto;
}

div.dialogContent > .caption {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-bottom: 0px;
	width: auto;
	padding: 10px;
	background: #004373;
	display: none;
}
.voteCB_dialog div.dialogContent > .caption {
	font-size: 32px;
	line-height: 1.6em;
}

div.icon.closeButton {
	position: absolute;
	top: -10px;
	right: -3px;
}

div.buttons {
    padding: 0;
}

.button, div.buttons button, .buttonBar .button, a.button_coupon button {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none #91cf06;
	border: 0 none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff;
	padding: 3px 9px;
	margin: 0;
	filter: alpha(opacity=100);
	opacity: 1;
	zoom: 1;
	cursor: pointer;
}
#loginCancel.button {
	background: none #c4c4c4;	
	text-shadow: none;
	margin: 5px;
	visibility: hidden;
}
.button:hover, div.buttons button:hover, .buttonBar .button:hover, .button_coupon:hover button {
	background: none #91cf06;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.button label, div.buttons button label, .buttonBar .button label, .button_coupon button span{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
}
#anonSubmit label, #loginCancel label {
	font-size: 18px;
}
#loginCancel.button label {
	color: #fff;
}
#loginCancel.button:hover label {
}


.jqmContent {
    background-color: #fff;
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	max-height: 100% !important;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div {

}

div.dialogContent > div.caption span {
    font-size: 24px;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
	display: block;
}

div.buttons .button.jqmClose {
	background: #c4c4c4 none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	display: block;
	margin: 0 auto;
	text-shadow: none;
}
div.buttons .button.jqmClose:hover {
	background: #3b579d none;
}
div.buttons .button.jqmClose:hover {
	background-position: bottom center;
}
.jqmContent.ACCOUNT_ACCESS_EXCEEDED > div.buttons {
	text-indent: 0;
	width: auto;
	height: auto;
	background: none transparent;		
}

/* Entry Form */

div#anonFields {
    padding: 10px;
    text-align: center;
}

div#loginAgents table, div#anonFields table {
    margin: 0 auto;
    width: 100%;
	position: relative;
}

div#loginAgents table td, div#anonFields table td {
	display: block;
	padding: 0;
}
div#anonFields input, div#anonFields select {
    border: 1px solid #ccc ;
    box-shadow: none;
    color: #999;
    display: inline-block;
	*display: inline;
	zoom: 1;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 6px 0;
    width: 94%;
    padding: 4px;
}


div#anonFields input#anonOpt {
    height: auto;
    margin: 0 10px 0 0;
    min-width: 1px;
	width: auto;
}


button#anonSubmit {
    left: 0;
    position: absolute;
    bottom: -48px;
}

.triviaWidget + button#anonSubmit {
	top: 15px
}

.terms {
    text-align: center;
	color: #fff;
}


@media only screen and (min-width:550px) {
	.large_text {
		font-size: 3em !important
	} 
	.questionWindow .question {
		height: 350px
	}
	.questionWindow .questionText, .yourVotesTitle, .resultList .title, .resultList .title .yourScore {
		min-height: 42px;
	}
	.widgetWindow {
	min-height: 346px;
	}

	.widgetWindow .row {
		margin: 10px;
		width: 180px;
		height: 180px;
	}
	div.row .contribText p {
		width: 160px;
		font-size: 18px;
		line-height: 1.3em;
	}
	.questionTextWrapper .questionText p, .yourVotesTitle, .resultList .title, .resultList .title .yourScore {
		font-size: 24px;
	}
}

@media only screen and (min-width:686px) {
	.widgetWindow {
	text-align: center;
	min-height: 446px;
}
.widgetWindow .row {
		margin: 10px;
		width: 200px;
		height: 200px;
	}
	div.row * {
		font-size: 24px;
		line-height: 1.3em;
	}
	div.row .contribText p {
		width: 180px;
	}
.large_text {
		font-size: 5em !important
	} 

	.headerEventTitle  {
		font-size: 18px;
	}
	.sharingBar {
		top: 48px;
	}
	.questionWindow .question {
		height: 60px;
	}
	.questionWindow .questionText, .yourVotesTitle, .resultList .title, .resultList .title .yourScore {
		min-height: 60px;
	}
	
	.questionWindow .questionText p, .yourVotesTitle, .resultList .title, .resultList .title .yourScore, .yourVotes h2.label-name {
		font-size: 24px;
		padding: 0 10px 10px;
	}
	#shareEventFB,#shareEventTwitter {
		top: 40px;
		right: 60px;
		bottom: auto;
	}
	#shareEventTwitter {
		right: 10px;
		bottom: auto;
	}
}

@media only screen
and (min-width : 880px) {
	.widgetWindow .row {
		margin: 0 20px 30px;
		width: 220px;
		height: 220px;
		}
	.questionWindow .question {
		height: 90px;
	}
	.questionWindow .questionText, .yourVotesTitle, .resultList .title, .resultList .title .yourScore {
		min-height: 90px;
	}
	.questionWindow .questionText p, .yourVotesTitle, .resultList .title, .resultList .title .yourScore, .yourVotes h2.label-name {
		font-size: 38px;
		padding: 0 10px 10px;
	}
	.sharingBar {
		top: 60px;
	}
	div.row .contribText p {
		width: 200px;
	}
}

