
.widget {
	border: 0 none transparent;
	background: none #fff;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
	color: #000;
}
.small_text {
	font-size: .5em;
}
.tiny_text {
	font-size: .42em;
	padding: 6px;
}
.contribText .small_text {
    padding: 10px;
}
.large_text {
	font-size: 2em;
}

.contribText p.label {
    left: 0;
    position: absolute;
    top: 72px;
    width: 100%;
    z-index: 2;
	text-shadow: 0 1px 3px #2a2a2a;
}
.link, img.popoutLink {
/*	max-height: 300px!important;
*/}
.link {
	color: ##00beff;
}
.link:hover {
	color: #e61923;
}
.widgetHeader, .widgetBottom {
	display: none !important;
}
.questionWindow .question {
	margin: 0 0 10px;
	min-height: 300px;

}
.questionWindow .questionBackgroundFilter {
	background: #5b5b5b;
}

.questionWindow .questionTextWrapper {
	min-height: 300px;
}
.questionNumber { display: none; }
.questionWindow .questionText { 
	padding: 0;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.questionWindow .questionText > img {
    height: auto;
    max-width: 630px;
    width: 100%;
	max-height: 300px;
}
.questionTextWrapper .questionText p {
	padding: 0 60px;
	/*text-shadow: 0 1px 3px #B4B4B4;*/
}


.questionWindow .prevQuestion, .questionWindow .nextQuestion {
    margin-top: 125px;
    position: absolute;
    z-index: 100;
}
.prevNumber, .nextNumber { display: none; }
div.icon.next, div.icon.prev {
	width: 50px;
	height: 50px;
	background: url('../../img/trav/1175/icon_prev-next.png') top left no-repeat transparent;
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: .4;
}
div.icon.next:hover, div.icon.prev:hover {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
div.icon.next { background-position: top right; }

.prevQuestion {
    left: 10px;
}
.nextQuestion {
    right: 10px;
}
.widgetWindow {
	text-align: center;
}
.widgetWindow .row {
	display: inline-block;
    zoom: 1;
    *display: inline;
	float: none;
	position: relative;
	margin: 0 10px 20px;
	padding: 0;
	text-align: center;
	background: none transparent;
	overflow: hidden;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	max-width: 181px;
	max-height: 179px;
}
div.row:hover {
	background: none transparent;
}
div.row * {
	display: block;
	margin: 0 auto;
	text-align: center;
	float: none;
	overflow: hidden;
}
.widgetWindow div.row > .noWrap {
	/*bottom: 3px;*/
	top: 0;
	display: block;
	float: none;
	margin: 0;
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;
}

div.row table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: hide;
	display: block;
	border: 0px none;
	margin: 0;
	padding: 0;
	position: relative;
}

div.row td {
	display: block;
	float: left;
	clear: both;
	margin:0;
	padding:0;
}
div.row table.icons {
	display: block;
	float: none;
	height: 100%;
	width: 100%;
	position: relative;
}
div.row table.icons td.link {
	/*padding: 2px 10px;*/
	display: block;
	padding: 101% 0 0;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 0;
	position: relative;
	background: url('//cdn.vhmengine.com/static/images/spacer.gif');
}
span.commentLink.link {
	border: 0px solid red;
	bottom: 8px;
	margin-left: 9px;
	position: absolute;
	text-decoration: none;
}
div.icon.voteUp, div.icon.voteUp:hover, div.icon.votedUp {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
}
div.icon.checked {
    background: none repeat scroll 0 0 #5b5b5b;
    bottom: 0;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: .8;
    padding-top: 101%;
    position: absolute;
    right: 0;
    width: 100%;
}
.commentLink.link {
    display: none;
}
div.contribInfo {
	display: none;
	clear: left;
	font-size: larger;
	font-weight: bold;
	/*line-height: 50px;*/
	display: none;
}

div.row .thumbnail.hidden, div.row .thumbnail {
    display: block !important;
    height: 179px;
    position: absolute;
    visibility: visible;
    width: 181px;
    z-index: -1;
}
div.row .thumbnail.hidden {
    background: none #00BEFF;
}
div.row:hover .thumbnail.hidden, div.row:hover .thumbnail {
	background: none #e61923;
}

div.row .contribText {
	height: 179px;
    width: 181px;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	/*background: none #00beff;*/
	-ms-word-break: break-word;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
div.row:hover .contribText {
	/*background: none #e61923;*/
}
.contribText > span {
    display: none !important;
}
.contribText * {

}
.contribText p.image {
	padding: 0;
}
.contribText img, div.row .thumbnail img {
    height: auto;
    max-width: 100%;
    width: 100%;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
div.row:hover .contribText img, div.row:hover .thumbnail img {
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.rankBar {
}
.rankBar .rank {
}

.rankScore {
}
.size2 .rankScore {
}
.resultRow .rankScore {
}
.widgetFooter {
	background: none transparent;
}
div.buttons {
	text-align: center;
}
div.buttons .button {
	border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
	background: #e61923;
	border: 1px solid #00beff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	
}
div.buttons .button:hover {
	background: #00beff;
}
div.buttons .button label {
	text-transform: lowercase;
	color:	#ffffff;
	font-size: 16px;
}
div.buttons .button:hover label {
	color: #ffffff;
}
.submitButton.post:hover {
}
div.dialogContent > .caption, div.paneContent > .caption {
}

div.commentListArea, div.answerListArea {
}
.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
}
.jqmOverlay {
	border-radius: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;
	filter: alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
	background: #ffffff;
}
.jqmWindow, .jqmWindow *{
    /*background: none repeat scroll 0 0 transparent;*/
}

.jqmContent.noFill > *, .jqmContent div.rowAd {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none transparent;
}
.jqmContent {
	background: transparent;
}

.jqmContent p {
}
table.askArea { width: 100%; }
div.itemArea {
}
.answerArea {
}
div.commentAreaWrap {
}
textarea.commentBox, input.titleBox {
}
div.icon.closeButton {
}
/* Resets from above for IE8 */
@media only screen and (min-width: 288px) {
	.widgetWindow .row {
			display: block;
			margin: 0 auto 20px;
	}
}

@media only screen and (min-width: 628px) {
.questionWindow .question {
	margin: 0 0 10px;
	min-width: 630px;
	min-height: 300px;
}
.widgetWindow .row {
	display: inline-block;
	margin: 0 10px 20px;
}

}
