/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html {
	font-size: 62.5%;
}
body {
    font-size: 1.3em;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	background: #1a1a1a;
	color: #fff;
	text-align: center;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 

}
body.child {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box;
}
a, a:link, a:visited {
	color: #cfcfcf;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
iframe {
	margin: 0 auto 0;
	overflow: hidden;
	border: 0 none transparent;
	width: 100%;
	height: 740px;
}
.wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.header-container .wrapper {
    background: url("../images/header_pivot.jpg") no-repeat scroll center bottom transparent;
    height: 240px;
}
.child .header-container .wrapper {
	background: none;
	height: auto;
}

.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
}
.footer-container footer {
	text-align: left;
	padding: 0 12px 12px;
}
.footer-container footer p {
	padding-right: 90px;
	line-height: 24px;
}
.footer-container footer p span {
	display: block;
	visibility: hidden;
	height: 1px;
}
.footer-container footer .button {
	float: right;
}
h1 {
	margin: 0;
}
h1.title {
	font-size: 22px;
	line-height: 1.1em;
	display: block;
	background: #333;
	padding: 6px 20px;
	margin: 0 0 6px;
}
h1.title_main a {
	text-indent: -9999px;
	display: block;
	width: 268px;
	height: 72px;
	margin: 24px auto 0;
	background: url('../images/delta_logo.png') top left no-repeat;
}
	

/* ==============
    Menus
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}


nav a {
	display: block;
	margin: 0 10px 6px;
    min-height: 44px;
    padding: 12px;
	font-size: 15px;
	line-height: 1.1em;
	background: #000;
	font-weight: bold;
}
nav a:after {
	content: ' »';
}
nav a:hover {
	text-decoration: none;
}
nav a span.title {
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 6px;
}
.nav_main a, .button {
	min-height: 36px;
	height: 36px;
    line-height: 36px;
	text-transform: uppercase;
	margin-top: 12px;
	text-align: center;
	border: 1px solid #3c3c3e;
	background: #1a1a1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a1a1a 0%, #3c3c3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#3c3c3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1a1a1a 0%,#3c3c3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1a1a1a 0%,#3c3c3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1a1a1a 0%,#3c3c3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1a1a1a 0%,#3c3c3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#3c3c3e',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 1px 1px #000;
	-webkit-box-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 1px #000;
}
.nav_main a:after {
	content: '';
}

.nav_main a:hover, .button:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	filter: none;
	background: none #1a1a1a;
}

div.social {
	margin: 12px auto;
}
.icon {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
	margin: 0 10px;
}
.icon:hover {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
.button {
	margin: 0;
	padding: 6px 12px;
	font-weight: bold;
}
.button:hover {
	text-decoration: none;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 580px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
body{
	text-align:left;
}
body.child {
	background: #000;
}
.header-container .wrapper {
	height: 290px;
}
h1.title {
	font-size: 24px;
}
    h1.title_main a {
		float: left;
		margin: 24px 20px;
	}
	
	.nav_main {
    float: right;
	margin: 66px 20px 0;
	}
	
.nav_main > a {
    margin: 0;
    padding: 0;
    width: 124px;
}

	.child nav a {
		background: url("../images/icon_video.png") no-repeat scroll 10px 24px transparent;
    font-size: 15px;
    font-weight: bold;
    line-height: 42px;
    margin: 0 10px 6px;
    min-height: 44px;
    padding: 12px 42px;
    position: relative;
	border-bottom: 1px solid #1a1a1a;
    }
	.child nav a span.title {
    display: inline-block;
    font-size: 15px;
	line-height: 42px;
    margin-right: 6px;
	margin-bottom: 0;
    text-transform: uppercase;
	font-weight: bold;
}
	.child nav a:hover {
		background-position: 10px -38px;
	}
    nav li:first-child a {
    }

    nav li:last-child a {
    }
	
	div.social {
    float: right;
    margin: 24px -145px 0;
}
	.icon {
		margin: 0 4px;
	}
	.footer-container footer p {
	line-height: 48px;
}
.footer-container footer p span {
	display: inline;
	visibility: visible;
	height: auto;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
    }

    .oldie nav a {
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
    }

    nav {
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
    }

    .main aside {
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}